* {
  padding: 0;
  margin: 0;
}

html {
  color: white;
  background: rgb(73, 86, 97);
}

a {
  color: white;
  /* text-decoration: none; */
}

body {
  max-width: 1024px;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation ul {
  display: flex;
  gap: 16px;
  list-style-type: none;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.footer {
  display: flex;
}